        .jumbotron {
            background-color: goldenrod;
            color: white;
            margin-top: 50px;
        }

        .btn {
            background-color: green;
            color: white;
        }

        .footer {
            padding: 10px 10px 0 10px;
            background-color: floralwhite;
            margin-bottom: 0px;
            margin-top: 10px;
        }

        .footer-adress-icon {
            padding-right: 10px;
        }

        .card-tipo {
            flex: 1 200px;
            padding: 2px 0px 2px 0px;
            margin-top: 10px;
        }

        .btn-reserva {
            width: 100%;
            border-radius: 0px;
        }
   