
$goldenrod: #a88d32 ;
$floralwhite: #bad6d2;
$green: #218c1d;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin relleno($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $goldenrod;
    color: white;
    @include margenes (50px, 0px);
}

.btn {
    background-color: $green;
    color: white;
}

.footer {
    @include relleno (10px, 10px, 0px, 10px);
    background-color: $floralwhite;
    @include margenes (10px, 0px);
}

.footer-adress-icon {
    @include relleno (0px, 10px, 0px, 0px);
 }

.card-tipo {
    flex: 1 200px;
    @include relleno (2px, 0px, 2px, 0px);
    @include margenes (10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}