.jumbotron {
  background-color: #a88d32;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: #218c1d;
  color: white; }

.footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #bad6d2;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-adress-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.card-tipo {
  flex: 1 200px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }
