
@goldenrod: #a88d32 ;
@floralwhite: #d89fd8;
@green: #218c1d;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.relleno(@top, @right, @bottom, @left){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron {
    background-color: @goldenrod;
    color: white;
    .margenes (50px, 0px);
}

.btn {
    background-color: @green;
    color: white;
}

.footer {
    .relleno (10px, 10px, 0px, 10px);
    background-color: @floralwhite;
    .margenes (10px, 0px);
}

.footer-adress-icon {
    .relleno (0px, 10px, 0px, 0px);
 }

.card-tipo {
    flex: 1 200px;
    .relleno (2px, 0px, 2px, 0px);
    .margenes (10px, 0px);
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
}